@import 'src/vars.scss';

.project {
  margin: 2em;

  pre {
    font-size: 9px;
    background-color: #48aff012;
    padding: 5px;
    border-radius: 5px;
    overflow: auto;
  }
  
  table {
    border: solid 1px lightgrey;
    margin: 0 auto 1em auto;
  }

  table, th, td {
    border: solid 1px lightgrey;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
  }

  @include respond-to(tablet) {
    margin: 2em 10%;

    pre {
      font-size: 1em;
    }
  }
}
