@import 'src/vars.scss';

.nav {
  a:hover {
    text-decoration: none;
  }
  .nav-tabs-desktop {
    display: none;
  }

  @include respond-to(tablet) {
    .nav-tabs-mobile {
      display: none;
    }
    .nav-tabs-desktop {
      display: inline-flex;
    }
  }

}
