@import 'src/vars.scss';

.page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-top: 50px;
  padding-bottom: 5em;
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;

  .icon-tray {
    border-top: solid 1px lightgrey;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
